* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    font-size: 12px;
    width: 1190px;
    margin: 0 auto;
    color: #3c3c3c;
}

/*table*/
table {
    border-collapse: collapse;
    margin-top: 20px;
}

.price, .subtotal {
    font-weight: bolder;
}

.subtotal {
    color: #f40;
}

thead {
    line-height: 30px;
}

tbody > tr, thead > tr {
    border: 1px solid #ccc;
    text-align: center;
}

tbody > tr {
    height: 120px;
}

tbody > tr > td:nth-child(2) {
    text-align: left;
}

tbody > tr > td:nth-child(4) > input {
    width: 35px;
    height: 20px;
}

tbody > tr > td:nth-child(3) {
    width: 100px;
}

tbody > tr > td:nth-child(4),
.foot > div:nth-child(5) {
    width: 150px;
    text-align: center;
}

tbody > tr > td:nth-child(5),
.foot > div:nth-child(4) {
    width: 180px;
}

tbody > tr > td:nth-child(6) {
    width: 120px;
}

.on {
    background: #fff8e1;
}

img {
    border: 1px solid #ccc;
}

tr > td:nth-child(4) {
    position: relative;
}

tr > td:nth-child(4) > span {
    background: #eee;
    color: #444;
    display: inline-block;
    width: 16px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #e5e5e5;
    position: absolute;
    font-size: 14px;
}

tr > td:nth-child(4) > span:hover {
    color: #f40;
    border: 1px solid #f40;
}

tr > td:nth-child(4) > .add {
    right: 37px;
}

tr > td:nth-child(4) > .reduce {
    left: 38px;
}

.count-input {
    text-align: center;
}

/*div*/
.foot {
    width: 1190px;
    height: 50px;
    margin: 12px auto;
    color: #3c3c3c;
    background: #e5e5e5;
    font-size: 12px;
    line-height: 50px;
    position: relative;
}

.fr {
    float: right;
}

.foot > label {
    padding: 0 30px 0 8px;
}

.foot > .total > span {
    font-size: 22px;
    color: #f40;
}

.closing {
    width: 120px;
    height: 50px;
    background: #f40;
    font-size: 20px;
    color: white;
    text-align: center;
}

#selectedTotal {
    color: #f40;
}

/*select*/
body > div.show > .selected > .up {
    display: none;
}

body > div.show > .selected > .down {
    display: inline-block;
}

body > div > .selected > .down {
    display: none;
}

#selected, .operation, #delete-all {
    cursor: pointer;
}

/*.selected-view*/
.selected-view {
    position: absolute;
    width: 1188px;
    height: 112px;
    border: 1px solid #ccc;
    bottom: 50px;
    background: white;
}

body > div.foot > .selected-view {
    display: none;
}

body > div.show > .selected-view {
    display: block;
}

.selected-view > span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: white;
    position: absolute;
    transform: rotate(45deg);
    right: 334px;
    bottom: -5px;
}

/*#selectedViewList*/
#selectedViewList {
    width: 1080px;
    height: 82px;
    padding: 15px 54px;
}

#selectedViewList > div {
    position: relative;
    float: left;
    margin: 0 10px;
    cursor: pointer;
}

#selectedViewList > div > span {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background: RGBA(0, 0, 0, .6);
    color: white;
    height: 20px;
    line-height: 20px;
}

#selectedViewList > div:hover > span {
    display: block;
}